<button mat-raised-button color="primary" routerLink="/product/add">
  Add Product
</button>
@defer (when products()) {
<div class="flex-grid">
  @for (product of products(); track product.id) {
  <div class="flex-grid-container">
    <app-product-item [product]="product"></app-product-item>
  </div>
  <mat-divider></mat-divider>
  } @empty {
  <span>The collection is empty</span>
  }
</div>
} @loading() {
<div class="spinner-container"><mat-spinner></mat-spinner></div>
} @placeholder() {
<div class="spinner-container"><mat-spinner></mat-spinner></div>
} @error {
<div>Error with loading data</div>
}
